<configuration>
    <springProfile name="console">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <root name="console" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="logstash">
        <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <root name="logstash" level="info" additivity="false">
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>
</configuration>